<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpDHLShipping
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ 
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$currentHelper = $this->helper('Webkul\MpDHLShipping\Helper\Data');
$isPartner = $helper->isSeller();
if($isPartner == 1){
	$order_id = $this->getRequest()->getParam('order_id');
	$shipment_id = $this->getRequest()->getParam('shipment_id');
	$isDhlShipment = $currentHelper->_isDhlShipment($order_id);
?>
<?php if ($isDhlShipment):  ?>
<a href="<?php echo $block->getUrl('mpdhl/shipment/printpdf', ['order_id'=>$order_id,'shipment_id'=>$shipment_id, '_secure' => $this->getRequest()->isSecure()]);?>" class="action">
	<button class="button wk-mp-btn" title="<?php echo __('DHL Shipment Slip') ?>">
		<span><span><?php echo __('DHL Shipment Slip') ?></span></span>
	</button>
</a>
<?php endif; ?>
<?php } ?>